<html>
    <head>
        <title>Third Party Website (Electron-Web Com PoC)</title>
    </head>
    <body>
        <p id="key">Fetching key...</p>
        <script>
            const source = new EventSource('http://127.0.0.1:3206/?token=<%= token %>');

            source.addEventListener('message', e => {
                document.getElementById('key').innerText = e.data;
                source.close();
            });

            source.addEventListener('error', e => {
                if (e.readyState == EventSource.CLOSED) {
                    source.close();
                }
            });
        </script>
    </body>
</html>